---
import Header from '../components/Header.astro';
import Layout from '../layouts/Layout.astro';
import Section from '../components/Section.astro';
---

<Layout title="Tesla Landing">
	<Header />
	<main class="snap-y snap-mandatory relative w-full h-screen overflow-auto scroll">
		<div class="snap-center">
			<Section 
				title="Disfrute de tesla" 
				subtitle="Programe una prueba de producción hoy mismo"
				color="white"
			>
				<video 
					slot="background"
					src="/video.webm"
					class="w-full h-full object-cover" 
					autoplay 
					muted 
					loop 
				>
				</video>

				<div slot="footer">
					<a 
						class="border-[3px] rounded px-6 py-2 inline-block text-white
						hover:bg-white hover:text-black transition-colors" 
						href="#"
						>
						Prueba de conducción
					</a>
				</div>
			</Section>
		</div>
		
		<div class="snap-center">
			<Section
				title="Model 3"
				subtitle="Arrendamiento desde $429/mes"
				color="black"
			>
			<img 
				slot="background"
				class="w-full h-full object-cover" 
				src="/model-3.avif" 
				alt="Model 3"
			>
			<div slot="footer" class="gap-x-4 flex mx-auto">
				<a 
					class="bg-gray-600 px-6 py-2 inline-block text-white
					hover:bg-gray-700 hover:text-white transition-colors" 
					href="#"
					>
					Ordenar ahora
				</a>
				<a 
					class="bg-white px-6 py-2 inline-block text-black
					hover:bg-black hover:text-white " 
					href="#"
					>
					Unidad de demostración
				</a>
			</div>
			</Section>
		</div>

		<div class="snap-center">
			<Section
				title="Model Y"
				subtitle="Concretar una prueba de conducción"
				color="black"
			>
			<img 
				slot="background"
				class="w-full h-full object-cover" 
				src="/model-y.avif" 
				alt="Model Y"
			>

			<div slot="footer" class="gap-x-4 flex mx-auto">
        <a 
          class="bg-gray-600 px-6 py-2 inline-block text-white
          hover:bg-gray-700 hover:text-white transition-colors" 
          href="#"
          >
          Explorar inventario
        </a>
        <a 
          class="bg-white px-6 py-2 inline-block text-black
          hover:bg-black hover:text-white " 
          href="#"
          >
          Pedido personalizado
        </a>
      </div>

			</Section>
		</div>

		<div class="snap-center">
			<Section
				title="Modelo X"
				subtitle="Ver inventario"
				color="black"
			>	
			<img 
				slot="background"
				class="w-full h-full object-cover" 
				src="/Model-X.avif" 
				alt="Model X"
			>
			<div slot="footer" class="gap-x-4 flex mx-auto">
				<a 
					class="bg-gray-600 px-6 py-2 inline-block text-white
					hover:bg-gray-700 hover:text-white transition-colors" 
					href="#"
					>
					Ordenar ahora
				</a>
				<a 
					class="bg-white px-6 py-2 inline-block text-black
					hover:bg-black hover:text-white " 
					href="#"
					>
					Unidad de demostración
				</a>
			</div>
			</Section>
		</div>

		<div class="snap-center">
			<Section
				title="Paneles solares"
				subtitle="Paneles solares de menor costo en América"

			>
			<img 
			slot="background"
			class="w-full h-full object-cover" 
			src="/powerwall.avif" 
			alt="Solar"
		>
		<div slot="footer" class="gap-x-4 flex mx-auto">
			<a 
				class="bg-gray-600 px-6 py-2 inline-block text-white
				hover:bg-gray-700 hover:text-white transition-colors" 
				href="#"
				>
				Ordenar ahora
			</a>
			<a 
				class="bg-white px-6 py-2 inline-block text-black
				hover:bg-black hover:text-white " 
				href="#"
				>
				Aprender más
			</a>
		</div>
			</Section>
		</div>

		<div class="snap-center">
			<Section
				title="Techo solar"
				subtitle="Produzca energía limpia desde su techo"
			  color="black"
			>
			<img 
				slot="background"
				class="w-full h-full object-cover" 
				src="/SolarRoof.avif" 
				alt="Solar"
			>
		<div slot="footer" class="gap-x-4 flex mx-auto">
			<a 
				class="bg-gray-600 px-6 py-2 inline-block text-white
				hover:bg-gray-700 hover:text-white transition-colors" 
				href="#"
				>
				Ordenar ahora
			</a>
			<a 
				class="bg-white px-6 py-2 inline-block text-black
				hover:bg-black hover:text-white " 
				href="#"
				>
				Aprender más
			</a>
		</div>
			</Section>
		</div>

		<div class="snap-center">
			<Section 
				title="Acecesorios"
				color='black'
			>
			<img 
				slot="background"
				class="w-full h-full object-cover" 
				src="/Desktop_Accessories.avif" 
				alt="Accesories"
			>
			<div slot="footer" class="gap-x-4 flex mx-auto">
				<a 
					class="bg-gray-600 px-6 py-2 inline-block text-white
					hover:bg-gray-700 hover:text-white transition-colors" 
					href="#"
					>
					Compra ahora
				</a>
			</Section>
		</div>

	</main>
</Layout>



